* {
    margin: 0;
    padding: 0;
}

.search {
    margin: 15px;
}

.search p {
    font-size: 14px;
}

.catalog {
    margin: 15px;
}

#area-min,
#area-max,
#rate-min,
#rate-max {
    width: 70px;
}