* {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.search p {
    font-size: 14px;
}

label {
    color: #7F7F7F;
}

.area-min {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
}

.area-max {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
}

.rate-min {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
}

.rate-max {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
}

.area-inputs {
    display: flex;
    justify-content: space-between;
}

.rate-inputs {
    display: flex;
    justify-content: space-between;
}

#area-min,
#area-max,
#rate-min,
#rate-max {
    width: 70px;
    font-weight: bold;
    padding: 0 5px;
    line-height: 30px;
}

#area-slider-range,
#rate-slider-range {
    margin-top: 10px;
}

#search-button {
    display: block;
    background-color: #F52435;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
    line-height: 40px;
    border-radius: 3px;
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.2);
}

#search-button:hover {
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow .3s;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
}

.catalog {
    border-left: 1px solid #7F7F7F;
    padding-left: 0 !important;
}

.item {
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
    border-bottom: 1px solid #7F7F7F;
}

.item-img {
    display: inline-block;
    margin: 0 30px 60px;
}

.item-info {
    display: inline-block;
    width: 100%;
}

.item-title {
    color: #363636;
    font-weight: bold;
    font-size: 18px;
}

.item-title:hover {
    color: #363636;
}

.fa-building {
    margin-left: 10px;
    color: #F52435;
}

.item-address {
    color: #7F7F7F;
    font-size: 14px;
    margin: 10px 0;
}

.item-block {
    padding: 10px 30px;
    border-top: 1px solid #7F7F7F;
}

.item-block p {
    font-size: 14px;
}

.item-block span {
    color: #7F7F7F;
}

.item-area {
    display: inline;
    padding-right: 20px;
}

.item-area a {
    color: #F52435;
    font-weight: bold;
    font-size: 18px;
}

.item-rate-year {
    display: inline;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    position: relative;
}

.item-rate-year::before {
    content: '';
    background: #7F7F7F;
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 20px;
}

.item-rate-year span {
    font-weight: normal;
    font-size: 14px;
    color: black;
}

.item-rate-month {
    display: inline;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    position: relative;
}

.item-rate-month::before {
    content: '';
    background: #7F7F7F;
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 20px;
}

.item-rate-month span {
    font-weight: normal;
    font-size: 14px;
    color: black;
}

.item-showmore {
    display: inline-block;
    color: #F52435;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #F52435;
    border-radius: 3px;
    padding: 0 20px;
    margin: 10px 0 50px 0;
}

.item-showmore:hover {
    color: #F52435;
}

.fa-chevron-down {
    margin-left: 30px;
}